<header>
    <nav class="navbar">
        <ul class="nav-list">
            <li class="link-item">
                <a class="navbar-item 1 current" href="/">Home</a>
            </li>
            <li class="link-item">
                <a class="navbar-item 2" href="/products">products</a>
            </li>
            <li class="link-item">
                <a class="navbar-item 3" href="/cart">cart</a>
            </li>
            <li class="link-item">
                <a class="navbar-item 4" href="/orders">Orders</a>
            </li>
        </ul>
    </nav>
    <hr>
    <div class="logo">
        <H1 class="webstite-title">SPACE SHOOTING.</H1>
    </div>
    <hr>
</header>
