@import url(root-fonts.css);

header {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.logo {
    text-align: center;
    padding: 20px;
    border-radius: 10px; 
}

.website-title {
    font-size: 60px; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    letter-spacing: 2px;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 10px 40px;
    position: sticky;
    top: 0;
    left: 0;
}

.nav-list {
    list-style-type: none;
    padding: 0 20px ;
    margin: 20px;
    display: flex;
    gap: 20px;
}

.nav-list .link-item {
    display: inline;
}

.navbar-item{
    text-decoration: none;
    font-family: Lab-Grotesk;
    font-size: var(--h3-font-size);
    color: orange;
}

.nav-list a:hover{
    color: white;
    border:thin white solid;
    padding: 15px;
    border-radius: 20px;
}

.nav-list a:active{
    color: red;
}

.logo img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

